:root{
    --bg-color: #0A192F;
    --white-text: #CCD6F6;
    --grey-color: #8892B0;
    --cards-color: #112240;
    --aqua-color: #64FED9;
    --hover-color: #159957;
    --primary-font: 'San Francisco', sans-serif;
    --secondary-font: 'Calibri', sans-serif;
    --typewriter-font: 'Courier Prime';
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: url('images/cursor (3).png'), auto;
    
}
.body {
    background-color: var(--bg-color);
    font-family: var(--typewriter-font);
}
.cursor {
    width: 40px;
    height: 40px;
    border:  1px solid var(--hover-color);
    border-radius: 50%;
    position: absolute;
    transition-duration: 350ms;
    transition-timing-function: ease-out;
    animation: cursorAnimation .5s infinite alternate;
    /* z-index: 10000; */
}
.cursor-inside {
    width: 25px;
    height: 25px;
    border:  1px solid var(--hover-color);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnimation .5s infinite alternate;
    /* z-index: 10000; */
}
a {
    z-index: 9999999;
}
a:hover{
    color: var(--aqua-color) !important;
    opacity: 0.9;
}
@keyframes cursorAnimation {
    from {
        tranform: scale(1)
    }
    to {
        transform: scale(1.05);
    }
}
.expand {
    animation: cursorAnimationHover .5s forwards;
    border: 5px solid var(--aqua-color);
    z-index: -1;
}
.expand-link {
    border: 20px solid var(--hover-color);
    z-index: -1;
    opacity: 0.4;
}
@keyframes cursorAnimationHover {
    0% {
        tranform: scale(1)
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
.projects {
    display: block;
    margin: 60px auto;
}
.design-projects, .cool-projects {
    margin-top: 60px;
}
::-moz-selection { /* Code for Firefox */
    color: var(--bg-color);
    background: var(--aqua-color);
} 
::selection {
    color: var(--bg-color);
    background: var(--aqua-color);
}
.navbarr {
    background: var(--bg-color);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbarr__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 15px !important;
    padding: 0 10px;
}
#navbarr__logo {
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: left;      
}
.navbarr__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbarr__item{
    height: 80px;
}
.navbarr__links{
    font-size: 0.9rem;
    color: var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-weight: 600;
    transition: all 0.2s ease;
}
.navbarr__links:hover{
    color: var(--aqua-color);
    transition: all 0.2s ease;
}
.navbarr__links span {
    color: var(--aqua-color);
}
span {
    color: var(--aqua-color);
}
.all-btn {
    color: var(--aqua-color);
    font-family: var(--primary-font);
    padding: 10px 28px;
    background-color: transparent;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid var(--aqua-color);
    transition: all 0.2s ease;
}
.all-btn:hover{
    opacity: 0.4;
    transition: all 0.2s ease;
}
.social__icons{
    writing-mode: vertical-rl;
    display: flex;
    position: fixed;
    height: 70vh;
    /* align-items: baseline; */
    justify-content: flex-end;
    padding-left: 55px;
}
.social__icon--link{
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--grey-color);
    margin-bottom: 40px;
    transform: scale(0.9);
    transition: 0.5s;
}
.social__icon--link:hover{
    transform: scale(0.6) rotate(360deg);
}
.main {
    display: flex;
    margin: 0 150px;
    margin-top: 40px; 
    flex-direction: column;
}
.main-blur {
    filter: blur(3px);
    -webkit-filter: blur(3px); 
}
.sneak-peak {
    margin-bottom: 15px; 
    font-family: var(--secondary-font) !important;
}
.start {
    color: var(--aqua-color);
    font-weight: 600;
    font-size: clamp(.8rem, 1vw + .2rem, 2rem);
}
.apresentation h1 {
    font-size: clamp(3rem, 5vw + 1rem, 7rem);
    color: var(--grey-color);
    font-weight: 900 !important;
}
.apresentation h4 {
    font-size: clamp(.8rem, 1vw + .5rem, 3rem);
    color: var(--white-text);
    font-weight: 900 !important;
}
.apresentation .based {
    margin-bottom: 10px !important;
}
.apresentation:nth-last-child(1) {
    color: var(--white-text);
    font-size: clamp(.6rem, 1vw + .2rem, 2rem);
}
.sneak-peak a {
    text-decoration: none;
    color: var(--aqua-color);
    font-weight: 580;
}
.study {
    width: 110vh;
    font-family: var(--secondary-font) !important;
    margin-bottom: 40px;
}
#promptanimation {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
}
#animationoutput {
    display: flex;
    font-size: clamp(3rem, 5vw + 1rem, 7rem);
    margin-bottom: 0px !important;
}
.about-me-title {
    color: var(--aqua-color);
    font-size: 2rem;
}
.my-projects h2 {
    font-size: 1.6rem;
    color: var(--white-text);
    display: flex;
    font-weight: 600;
    font-family: var(--primary-font)
}
.my-projects h2:after {
    width: 30%;
    height: 1px;
    background: var(--grey-color);
    position: relative;
    content: "";
    display: block;
    margin: auto 50px;
}
.projects-img {
    width: 100%;
    height: 220px;   
    filter: blur(0.08rem);
    z-index: 20000;
    transition: .2s ease;
    opacity: 20%;
    text-align: center;
}
.hold-img {
    position: relative;
    text-align: center;
    z-index: 20000;
}
.projects-img:hover {    
    filter: blur(0rem) !important;
    transition: .2s ease-in-out;
    opacity: 60%;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    color: var(--white-text);
}
.tecnologies {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: var(--grey-color) !important;
}
@media screen and (max-width: 480px){
    .cursor, .cursor-inside {
        display: none
    } 
    .main {
        display: block;
        margin: 0 40px;
    }
    .study {
        width: 40vh;
        font-size: .9rem;
    }
    #animationoutput {
        width: 40vh;
    }    
    #promptanimation h1 {
        font-size: 1.5rem;
    }
    .letters {
        font-size: 1rem;
        margin: 0;
    }
    .navbarr__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        margin-top: -20px !important;       
    }
    .navbarr__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 60vh;
        z-index: -1;
        /* background: var(--cards-color); */       
    }
    .navbarr__menu.active{
        background: var(--cards-color);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 350px;
        font-size: 1.6rem;
    }
    #navbarr__logo img{
        display: flex;
        padding-left: 25px;      
    }
    .navbarr__toggle .barr{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--aqua-color);
    }
    .nabarr__item{
        width: 100%;
    }
    .navbarr__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbarr__toggle .barr{
        display: block;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    #mobile-menu.is-active .barr:nth-child(2){
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    #mobile-menu.is-active .barr:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        transition: all 0.3s ease-in-out;
    }
    #mobile-menu.is-active .barr:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        transition: all 0.3s ease-in-out;
    }
    .social__icons {
        display: none;
    }
    .my-projects {
        margin: 0 auto;
        display: block; 
    }
    .web-projets {
        flex-direction: column;
        margin: 0 auto;
        display: block;
    }
    .projects-img {
        width: 100%;
        height: 220px;
    }
}
/* #my-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
} */